body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #22874f;
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #269759;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #22874f;
    color: #fff;
}

h1 {
    color: white;
}

h2 {
    color: #22874f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #1e70bf;
}
