html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    padding: 20px;
    background-image: url('./images/headerpic.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

header > p{
    background-color: rgba(58, 102, 64, 0.398);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #269759;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    width: 300px;
    height: 200px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #22874f;
    color: #fff;
}

h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.378);
    display: inline-block;
}

h2 {
    color: #22874f;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #1e70bf;
}

footer img {
    display: flex;
    position: 24px;
    width: auto;
    height: 30px;
    display: inline;
}
